html {
  font-size: 625%;
}
body {
  font-size: .12rem;
}
html,
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  /* Firefox */
  -webkit-box-sizing: inherit;
  /* Safari */
}
.f {
  color: #fff;
}
.w100 {
  width: 100%;
}
.c9 {
  color: #999;
}
.c6 {
  color: #666;
}
.c3 {
  color: #333;
}
.bk {
  display: block;
}
.tc {
  text-align: center;
}
.pr {
  position: relative;
}
.header-warp {
  width: 100%;
  height: .66rem;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  color: #fff;
}
.header {
  width: 90%;
  height: .66rem;
  margin: 0 auto;
  background-image: linear-gradient(90deg, #0af, #0085ff);
  display: flex;
}
.header .search {
  width: 100%;
  height: .36rem;
  margin: auto;
}
.header .search from {
  width: 100%;
  height: .36rem;
  display: block;
  position: relative;
}
.header .search from input {
  border-radius: .96rem;
  width: 100%;
  height: inherit;
  border: none;
  box-shadow: 0 0.026667rem 0.066667rem 0 rgba(0, 0, 0, 0.2);
}
.header .search from .search-title {
  width: 1.5rem;
  height: .36rem;
  margin-top: -0.18rem;
  line-height: .36rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.75rem;
  color: #666;
}
.header .search from .search-title i {
  font-weight: bold;
}
.header .search from .search-title b {
  font-size: .14rem;
  font-weight: bold;
}
.focus-warp {
  width: 100%;
  height: 1.9rem;
  background: #fff;
}
.swiper-container {
  width: 100%;
  height: 1.9rem;
}
.content {
  height: 90%;
}
.content ul {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content ul li {
  display: flex;
  width: 25%;
  height: 50%;
}
.content ul li a {
  display: block;
  width: 100%;
  margin-top: .11rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content ul li a img {
  width: .45rem;
  height: .45rem;
}
.content ul li a p {
  font-size: .12rem;
  display: block;
  margin-top: .01rem;
}
.focus-warp .swiper-pagination-bullet-active {
  background-color: #000;
  opacity: .6;
}
.focus-warp .swiper-pagination-bullet {
  width: .04rem;
  height: .04rem;
}
/*banner*/
.banner {
  width: 100%;
  height: .9rem;
  background: #fff;
}
.banner img {
  display: block;
  width: 100%;
  height: .7rem;
}
/*nav*/
.nav {
  width: 100%;
  height: 1.5rem;
  margin-top: .11rem;
  background: #fff;
}
.nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav ul li {
  width: 50%;
  height: 50%;
}
.nav ul li:nth-of-type(odd) {
  border-right: 1px solid #f9f9f9;
}
.nav ul li a {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav ul li span {
  width: 50%;
}
.nav ul li span h2 {
  font-size: .15rem;
  color: #333;
  font-weight: 600;
}
.nav ul li span b {
  font-size: .10rem;
  color: #999;
  margin-top: 0.03rem;
  display: block;
}
.nav ul li img {
  width: .5rem;
  height: .5rem;
}
/*seller*/
.seller {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: .11rem;
}
.seller .seller-header {
  width: 100%;
  height: .35rem;
  padding-left: .1rem;
  border-bottom: .01rem solid #f0f0f0;
  font-size: .14rem;
  color: #666;
  line-height: .35rem;
}
.seller .seller-content {
  width: 100%;
  height: 1.5rem;
  border-bottom: .01rem solid #f0f0f0;
  color: #666;
  display: flex;
  flex-direction: row;
}
.s-c-left {
  padding: .15rem .1rem;
}
.s-c-left img {
  width: .6rem;
  height: .6rem;
}
.s-c-right {
  padding: .15rem .1rem .15rem 0;
  width: 100%;
}
.s-c-right .brand {
  height: .2rem;
  padding: 0 .03rem;
  background-color: #ffd930;
  color: #52250a;
  text-align: center;
  line-height: .2rem;
  font-weight: bold;
  border-radius: .02rem;
}
.seller-title {
  display: flex;
  flex-direction: row;
}
.seller-title h3 {
  color: #333;
  font-size: .15rem;
  margin-left: .03rem;
  line-height: .2rem;
}
.assess {
  display: flex;
  flex-direction: row;
  margin-top: .1rem;
}
.assess .assess-num {
  color: #ff6000;
  font-size: .11rem;
  margin: .04rem;
}
.assess strong {
  font-weight: 100;
  font-size: .11rem;
}
.seller .price {
  margin-top: .09rem;
  font-size: .11rem;
  margin-bottom: .1rem;
}
.seller .price ul {
  float: left;
}
.seller .price b {
  float: right;
  font-weight: 100;
}
.seller .price ul li {
  float: left;
  margin: 0 .05rem;
}
.seller .price ul li:not(:last-of-type) {
  border-right: 0.01rem solid #e2e2e2;
}
.s-c-r-t {
  border-bottom: 0.01rem dotted #bbbbbb;
}
.seller .price ul li:nth-of-type(1) {
  margin-left: 0;
}
.s-c-r-b {
  width: 100%;
  padding-top: .08rem;
  font-size: .11rem;
  color: #666;
  position: relative;
}
.tc {
  text-align: center;
}
.seller-event-left {
  position: relative;
  font-size: .11rem;
}
.seller-event-left .seller-news {
  padding-left: .2rem;
}
.seller-event-left .seller-news:after {
  color: #fff;
  display: block;
  content: "新";
  background: #70bc46;
  width: .15rem ;
  height: .15rem;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0.01rem;
}
.seller-event-left .seller-sub {
  padding-left: .2rem;
  margin-top: .04rem;
  position: relative;
}
.seller-event-left .seller-sub:after {
  color: #fff;
  display: block;
  content: "减";
  background: #f07373;
  width: .15rem ;
  height: .15rem;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0.01rem;
}
.seller-event-right {
  color: #999;
  font-size: .1rem;
  position: absolute;
  right: 0px;
  top: 0.08rem;
  transform: scale(0.8, 0.8);
  margin-right: .05rem;
}
.seller-event-right:after {
  content: "";
  border: .05rem solid transparent;
  border-top-color: #999;
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 30%;
  right: -0.15rem;
}
.start img {
  width: .1rem;
  height: .1rem;
}
.seller-content {
  position: relative;
}
.seller-mark {
  content: "新店";
  display: block;
  background-image: -webkit-linear-gradient(315deg, #26ce61, #26ce61 50%, transparent 0);
  background-image: linear-gradient(135deg, #26ce61, #26ce61 50%, transparent 0);
  color: #fff;
  width: .32rem;
  height: .32rem;
}
.seller-mark span {
  display: block;
  width: .32rem;
  height: .32rem;
  text-align: center;
  font-size: .09rem;
  transform: rotate(-45deg) scale(0.8);
}
