blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%}
q:after,q:before{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,select,textarea{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit}
legend{color:#333}html{background-color:#eee}
body{    background-color: #f5f5f5;
color: #333;
font-family: 'Helvetica Neue',Tahoma,Arial,PingFangSC-Regular,'Hiragino Sans GB','Microsoft Yahei',sans-serif;
line-height: 1.2;}
h1,h2,h3,h4,h5,h6,b,strong{
font-weight:normal;
}
a{color:#666;text-decoration:none}a:hover{text-decoration:none}a:active{text-decoration:none}
h1,h2,h3,h4,h5,h6{font-family:"Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;color:#333;-webkit-font-smoothing:antialiased}
input[type=password]{font-family:arial,sans-serif}
.fl{ float:left;}
.fr{ float:right;}
/*html {*/
/*box-sizing: border-box;*/
/*-moz-box-sizing:border-box;*/

/*}*/
.clear:after{
content:"";
display:block;
clear:both;
height:0px;
overflow:hidden;
}

/**, *:before, *:after {*/
/*box-sizing: inherit;*/
/*-moz-box-sizing:inherit;*/
/*}*/
/*@font-face {*/
/*font-family: 'iconfont';  !* project id 325798 *!*/
/*src: url('//at.alicdn.com/t/font_3gfx5piz83hm2t9.eot');*/
/*src: url('//at.alicdn.com/t/font_3gfx5piz83hm2t9.eot?#iefix') format('embedded-opentype'),*/
/*url('//at.alicdn.com/t/font_3gfx5piz83hm2t9.woff') format('woff'),*/
/*url('//at.alicdn.com/t/font_3gfx5piz83hm2t9.ttf') format('truetype'),*/
/*url('//at.alicdn.com/t/font_3gfx5piz83hm2t9.svg#iconfont') format('svg');*/
/*}*/
@font-face {font-family: "iconfont";
src: url('../font/iconfont.eot?t=1499074995254'); /* IE9*/
src: url('../font/iconfont.eot?t=1499074995254#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../font/iconfont.woff?t=1499074995254') format('woff'), /* chrome, firefox */
url('../font/iconfont.ttf?t=1499074995254') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
url('../font/iconfont.svg?t=1499074995254#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
font-family:"iconfont" !important;
font-size:16px;
font-style:normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-zuobiao:before { content: "\e637"; }

.icon-fangdajing:before { content: "\e608"; }

.icon-fangdajing1:before { content: "\e60b"; }

.icon-bankexing:before { content: "\e638"; }

.icon-fangdajing2:before { content: "\e631"; }

.icon-iconfontzhizuobiaozhun44:before { content: "\e62b"; }

.icon-faxian:before { content: "\e609"; }

.icon-xing:before { content: "\e6d7"; }

.icon-yonghu:before { content: "\e604"; }

.icon-star02:before { content: "\e607"; }

.icon-dingdan:before { content: "\e647"; }

.icon-magnifier:before { content: "\e69d"; }

.icon-bankexing1:before { content: "\e740"; }

.icon-xing1:before { content: "\e643"; }

.icon-eliaomo:before { content: "\e639"; }