<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta http-equiv="refresh" content="1; url=<%=host%>admin/admin" />
<body>
<h3>删除成功，正在返回</h3>
</body>
</html>